@import "compass/css3"
$main_color: green
body
	+background( linear-gradient($main_color, darken(orange, 20%)) )
	margin: 0 auto
	width: 500px
	height: 666px
	text-align: center
	ul
		padding-left: 0
		li
			padding: 15px
			display: inline
		list-style-type: none
